.App {
  text-align: center;
  background-image: url('/black-waves-and-moon.jpg');
  color: #E7DFDD;
  background-size: cover;
  background-position: center;
  width: 100%;
}

.App-header {
  background-color: rgba(71,23,246,0.5);
  height: 150px;
  width: 100%;
  padding: 20px;
  box-shadow: 3px 3px 2px grey;
  text-shadow: 2px 2px 1px grey;
}

.App-intro {
  font-size: large;
}

.bucket{
  display: flex;
  flex-flow: row nowrap;
}
.form{
  flex: 1 1 45%;
  margin-top: .5em;
}
input{
  opacity: 0.8;
}
textarea{
  opacity: 0.8;
}
.results{
  flex: 1 1 45%;
  margin-top: .5em
}
.song_div{
  text-align: left;
  padding: .25em;
  margin: .5em;
  border: 1px solid grey;
  border-radius: 4px;
  background-color: rgba(162,57,202,0.75)
}
